    <!--头部start-->
{include file="common/header" /}


 <!--header class="agent-header">
        <div class="logo">首页</div>
    </header-->
<!--img style="width:300px;height:300px;" src=""-->
    <!--头部end-->
    <section class="agent-container agent-container-b">
        <div class="agent-banner  swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="javascript:;">
                        <img src="/assets/frontend/images/index-banner1.jpg">
                    </a>
                </div>
            </div>
            <!--div class="agent-slider-pagination"></div-->
        </div>
        <div class="agent-index-tit agent-title-arror">
            <a href="information.html">
                <i class="i01"></i>
                <h2>消息通知</h2>
                <span>查看全部消息</span>
            </a>
        </div>
        <div class="agent-index-notice">
            <ul>
                <li>
                    <a class="text-overflow" href="informationDetails.html">
                        <em></em>
                        春季上新，女神季满减优惠，全场3折起
                    </a>
                </li>
                <li>
                    <a class="text-overflow" href="informationDetails.html">
                        <em></em>
                        春季上新，女神季满减优惠，全场3折起 春季上新，女神季满减优惠，全场3折起 春季上新，女神季满减优惠，全场3折起
                    </a>
                </li>
                <li>
                    <a class="text-overflow" href="informationDetails.html">
                        <em></em>
                        春季上新，女神季满减优惠，全场3折起
                    </a>
                </li>
            </ul>
        </div>
        <a class="agent-btn1" href="goodsDetails.html">进货报单</a>
        <div class="agent-index-tit  agent-title-arror">
            <a href="article.html">
                <i class="i02"></i>
                <h2>商学院文章</h2>
                <span>查看全部文章</span>
            </a>
        </div>
        <div class="agent-article">
            <div class="agent-article-fen">
                <div class="agent-article-t agent-clearfix">
                    <div class="div-img">
                        <img class="agent-img" src="/assets/frontend/images/index-image01.png">
                    </div>
                    <h3 class="text-overflow">张明景</h3>
                    <p>2019-11-28</p>
                </div>
                <div class="agent-article-m agent-clearfix">
                    <a href="articlesDetails.html">
                        <h3 class="text-overflow">首席名师课时复习托福名课时首席名师课2019
                        </h3>
                        <p class="text-overflow">
                            <span>专家演讲</span>
                            <span>辅导专用</span>
                        </p>
                        <ul>
                            <li>
                               <img class="agent-img" src="/assets/frontend/images/index-image.jpg"> 
                            </li>
                            <li>
                               <img class="agent-img" src="/assets/frontend/images/index-image.jpg"> 
                            </li>
                            <li>
                               <img class="agent-img" src="/assets/frontend/images/index-image.jpg"> 
                            </li>
                        </ul>
                    </a>
                </div>
                <div class="agent-article-b agent-clearfix">
                    <p class="text-overflow">
                       <span>150评论 </span>
                       <span>100赞</span>
                    </p>
                    <em class="share-icon"></em>
                </div>
            </div>
            <div class="agent-article-fen">
                <div class="agent-article-t agent-clearfix">
                    <div class="div-img">
                        <img class="agent-img" src="/assets/frontend/images/index-image01.png">
                    </div>
                    <h3 class="text-overflow">张明景</h3>
                    <p>2019-11-28</p>
                </div>
                <div class="agent-article-m agent-clearfix">
                    <a href="articlesDetails.html">
                        <h3 class="text-overflow">首席名师课时复习托福名课时首席名师课2019
                        </h3>
                        <p class="text-overflow">
                            <span>专家演讲</span>
                            <span>辅导专用</span>
                        </p>
                        <ul>
                            <li>
                               <img class="agent-img" src="/assets/frontend/images/index-image.jpg"> 
                            </li>
                            <li>
                               <img class="agent-img" src="/assets/frontend/images/index-image.jpg"> 
                            </li>
                            <li>
                               <img class="agent-img" src="/assets/frontend/images/index-image.jpg"> 
                            </li>
                        </ul>
                    </a>
                </div>
                <div class="agent-article-b agent-clearfix">
                    <p class="text-overflow">
                       <span>150评论 </span>
                       <span>100赞</span>
                    </p>
                    <em class="share-icon"></em>
                </div>
            </div>
            <div class="agent-article-fen">
                <div class="agent-article-t agent-clearfix">
                    <div class="div-img">
                        <img class="agent-img" src="/assets/frontend/images/index-image01.png">
                    </div>
                    <h3 class="text-overflow">张明景</h3>
                    <p>2019-11-28</p>
                </div>
                <div class="agent-article-m agent-clearfix">
                    <a href="articlesDetails.html">
                        <h3 class="text-overflow">首席名师课时复习托福名课时首席名师课2019
                        </h3>
                        <p class="text-overflow">
                            <span>专家演讲</span>
                            <span>辅导专用</span>
                        </p>
                        <ul>
                            <li>
                               <img class="agent-img" src="/assets/frontend/images/index-image.jpg"> 
                            </li>
                            <li>
                               <img class="agent-img" src="/assets/frontend/images/index-image.jpg"> 
                            </li>
                            <li>
                               <img class="agent-img" src="/assets/frontend/images/index-image.jpg"> 
                            </li>
                        </ul>
                    </a>
                </div>
                <div class="agent-article-b agent-clearfix">
                    <p class="text-overflow">
                       <span>150评论 </span>
                       <span>100赞</span>
                    </p>
                    <em class="share-icon"></em>
                </div>
            </div>
        </div>
        <div class="agent-table">
            <div class="agent-table-thead">
                <span class="table-cell txtL">卡号列表</span>
                <span class="table-cell">激活状态</span>
                <span class="table-cell">
                   <a class="table-btn"  href="javascript:;">下载卡号
                   </a>
                </span>
            </div>
            <div class="agent-table-tbody">
                <div class="table-list">
                   <span class="table-cell txtL">1568795421785</span>
                   <span class="table-cell"></span> 
                   <span class="table-cell">是</span> 
                </div>
                <div class="table-list">
                   <span class="table-cell txtL">156871568795</span>
                   <span class="table-cell"></span> 
                   <span class="table-cell">
                        <a class="a-blue" href="javascript:;">否</a>
                    </span> 
                </div>
                <div class="agent-loading agent-clearfix">
                    <img src="/assets/frontend/images/loading.gif">加载中...
                </div>
            </div>
        </div>
    </section>
   

<script type="text/javascript" src="/assets/frontend/js/swiper.min.js"></script>

<script type="text/javascript">
    var swiper = new Swiper('.agent-banner', {
        speed: 600,
        loop: false,
        autoplay: {
          disableOnInteraction: false,
          delay: 5000,
        },
        autoplayDisableOnInteraction:false,
        preventLinksPropagation:true,
        pagination: {
            el: '.agent-slider-pagination',
            clickable: true,
        }
    });
    
</script>
{include file="common/footer"}