
<nav class="nav">
    <ul>
        <li>
            <a class="active" href="index.html">
                <em class="em01"></em>
                <span>首页</span>
            </a>
        </li>
        <li>
            <a href="cardManagement.html">
                <em class="em02"></em>
                <span>卡号管理</span>
            </a>
        </li>
        <li>
            <a href="article.html">
                <em class="em03"></em>
                <span>商学院</span>
            </a>
        </li>
        <li>
            <a href="order.html">
                <em class="em04"></em>
                <span>订单管理</span>
            </a>
        </li>
        <li>
            <a  href="{:Url('user/index')}">
                <em class="em05"></em>
                <span>个人中心</span>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>